@using EPostgres;
@using EPostgres.Helper;
@{
    Layout = null;
    Usuario oUsuario = new Usuario();
    oUsuario = (Usuario)Session["Datos"];
}

<link href="~/Content/css/dataTables/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/js/utils.min.js"></script>
<script src="~/Content/js/dataTables/jquery.dataTables.min.js"></script>
<script src="~/Content/js/dataTables/dataTables.bootstrap.js"></script>

<script type="text/javascript">
        var Model = @Html.Raw(Json.Encode(@Model));
</script>

<div class="col-lg-11 col-lg-offset-0-5">
    <input id="hdnEstado" type="hidden" />
    <input id="hdnPubEst" type="hidden" />
    <input id="hdnPag" type="hidden" />
    <input id="hdnUsuId" type="hidden" />
    <input id="hdnHistId" type="hidden" />
    <input id="hdnUHistId" type="hidden" />

    <div id="target1" class="panel move panel-inverse active m-t-5">
        <div class="panel-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> <span id="title"></span></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @if (!(oUsuario.nRolId == (int)RolId.Supervisor && ViewBag.nTipoForm == (int)FormTipoInventario.RevisionInventarios))
                    {
                        <input href="#target2" id="btnNuevoInventarioVegetacion" type="button" class="btn btn-sm btn-success target" value="Registre su inventario" />
                        <div class="hr-line-dashed m-b-10 "></div>
                    }
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-sm-11">
                    <div class="form-inline">
                        <div class="form-group m-r-40">
                            <label class="control-label m-r-5" for="status">Estado:</label>
                            <select name="status" id="cmbInvEstado" class="form-control">
                                <option value="1" selected="">Solicitado</option>
                                <option value="2">Aprobado</option>
                                <option value="3">Observado</option>
                                <option value="4">Rechazado</option>
                            </select>
                        </div>
                        <div class="form-group m-r-10">
                            <label class="control-label m-r-5" for="product_name">Buscar por:</label>
                            <select name="status" id="cmbTpoBsq" class="form-control">
                                <option value="1" selected="">Título del Proyecto</option>
                                <option value="2">Año</option>
                                @*<option value="4">Rango de Fecha</option>*@
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtValor" class="form-control">
                            <div class="input-daterange input-group" id="dtRango" style="display: none;">
                                <input id="txtFI" type="text" class="form-control" name="start">
                                <span class="input-group-addon">al</span>
                                <input id="txtFF" type="text" class="form-control" name="end">
                            </div>
                        </div>
                        <input id="btnBuscarInv" type="button" value="Buscar" class="btn btn-sm btn-primary">
                    </div>
                </div>
            </div>
            <div class="row table-main">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="cntListaInvVegetacion" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="target2" class="panel move panel-inverse m-t-5" data-sortable-id="form-stuff-1" style="display: none;">
        <div class="panel-heading">
            <h4 class="panel-title">Inventario de Vegetación</h4>
        </div>
        <div class="panel-body" style="display: block;">
            <div class="row">
                <div class="col-lg-12">
                    <form id="frm" class="form-horizontal" data-smk-icon="glyphicon-asterisk" autocomplete="off">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2 col-md-3 col-lg-2" for="email">Código Proyecto</label>
                            <div class="col-xs-5 col-sm-2">
                                <input type="hidden" class="form-control" id="hdnVegId">
                                <input type="text" class="form-control" id="txtCodProy" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 col-md-3 col-lg-2" for="pwd">Nombre del Proyecto:</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control" id="txtNombProy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2 col-md-3 col-lg-2" for="pwd">Año Colecta:</label>
                            <div class="col-xs-5 col-sm-2 col-md-2">
                                <input type="text" class="form-control" id="txtAno">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-9 col-sm-8 col-md-5" style=" padding-top: 1px;text-align: center;">
                                <button id="btnGuardarInvVeg" type="button" class="btn btn-sm btn-success ">
                                    <span class="fa fa-floppy-o" aria-hidden="true"></span> Guardar
                                </button>
                                <button id="btnEliminarInvVeg" type="button" class="btn btn-sm btn-danger" disabled="">
                                    <span class="fa fa-trash-o" aria-hidden="true"></span> Eliminar
                                </button>
                            </div>
                            <div class="col-xs-9 col-sm-8 col-md-6">
                                <input id="flExcel" name="file" type="file" />
                                <button id="btnGargarExcel" type="button" class="btn btn-sm btn-danger">
                                    <span class="fa fa-file-excel-o" aria-hidden="true"></span> Cargar Excel
                                </button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div id="cntListaInvParcelas" class="table-responsive">
                            <table id="tblParcelas" class="table table-striped table-bordered dataTable"> </table>
                        </div>

                        <div class="row m-t-5">
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <input type="button" class="btn btn-warning btn-block btn-fill" style="margin-top: 0px;" value="Historial" id="btnHistorial">
                                </div>
                            </div>
                            @if (oUsuario.nRolId == (int)RolId.Supervisor && ViewBag.nTipoForm == (int)FormTipoInventario.RevisionInventarios)
                            {
                                <div id="ctnRevision">

                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-block btn-primary" style="margin-top: 0px;" value="Aprobar" id="btnAprobar" disabled="disabled"><i class="fa fa-check" aria-hidden="true"></i> Aprobar</button>
                                    </div><div class="col-md-2">
                                        <button type="button" class="btn btn-success btn-block btn-fill" style="margin-top: 0px;" value="Observar" id="btnObservar" disabled="disabled"><i class="fa fa-search" aria-hidden="true"></i> Observar</button>
                                    </div><div class="col-md-2">
                                        <button type="button" class="btn btn-danger btn-block btn-fill" style="margin-top: 0px;" value="Rechazar" id="btnRechazar" disabled="disabled"><i class="fa fa-times" aria-hidden="true"></i> Rechazar</button>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="ctnSolicitud">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">
                                        <input type="button" class="btn btn-primary btn-block btn-fill" value="Enviar Solicitud" id="btenviar" name="btenviar" style="display:none;">
                                        <input type="button" class="btn btn-primary btn-block btn-fill" value="Enviar Corrección" id="btenviarCorrecion" name="btenviarCorrecion" style="display:none;">
                                    </div>
                                </div>
                            }
                            <div class="col-md-2">
                                <input type="button" class="btn btn-default btn-block btn-fill" value="Cancelar" id="btcancelar" name="btcancelar">
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>

<div id="modalParcela" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="frmRegistro" class="form-vertical" action="" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Registrar Parcela</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="hdnParId">
                                <label class="control-label" for="txtDepartamento">Departamento</label>
                                <input type="text" class="form-control" id="txtDepartamento" name="txtDepartamento">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtRegistrador">Registrador</label>
                                <input type="text" class="form-control" id="txtRegistrador" name="txtRegistrador">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtLongitud">Longitud</label>
                                <input type="text" class="form-control" id="txtLongitud" name="txtLongitud">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtLatitud">Latitud</label>
                                <input type="text" class="form-control" id="txtLatitud" name="txtLatitud">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="txtCodMuestra">Código Muestra</label>
                                <input type="text" class="form-control" id="txtCodMuestra" name="txtCodMuestra">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtAltitud">Altitud</label>
                                <input type="text" class="form-control" id="txtAltitud" name="txtAltitud">
                            </div><div class="form-group">
                                <label class="control-label" for="txtPrecision">Precisión</label>
                                <input type="text" class="form-control" id="txtPrecision" name="txtPrecision">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="txtTipoVeg">Tipo de Vegetación</label>
                                <input type="text" class="form-control" id="txtTipoVeg" name="txtTipoVeg">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtClaseFisonomica">Clase Fisonómica</label>
                                <input type="text" class="form-control" id="txtClaseFisonomica" name="txtClaseFisonomica">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtCobertura">Cobertura</label>
                                <input type="text" class="form-control" id="txtCobertura" name="txtCobertura">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtConClasi">Confianza Clasificación</label>
                                <input type="text" class="form-control" id="txtConClasi" name="txtConClasi">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="txtClaHidro">Clase Hidrológica</label>
                                <input type="text" class="form-control" id="txtClaHidro" name="txtClaHidro">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtFisiografia">Fisiografía</label>
                                <input type="text" class="form-control" id="txtFisiografia" name="txtFisiografia">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtAltitudHidrico">Altitud Sistema Hídrico</label>
                                <input type="text" class="form-control" id="txtAltitudHidrico" name="txtAltitudHidrico">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnGuardar" type="button" class="btn btn-primary"> <span class="fa fa-save" aria-hidden="true"></span>  Guardar</button>
                    <button id="btnCancelar" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    let nTipoForm = window.location.hash.replace('#map=', '').substr(1).split("/")[2] == "RevisionInventariosVegetacion" ? 2 : 1;

    $("#title").html(nTipoForm == 1 ? "Mis Inventarios de Vegetación" : "Revisión de Inventarios de Vegetación");

    let datos = [];
    let indexSeleccionado = -1;

    let vegId = $('#txtCodProy');
    let vegetacionId = $('#hdnVegId');
    let nombreProyecto = $('#txtNombProy');
    let anoColecta = $('#txtAno');

    let parcelaId = $('#hdnParId');
    let usuarioId = $('#hdnUsuId');
    let historialId = $('#hdnHistId');
    let UHistId = $('#hdnUHistId');
    let modalParcela = $('#modalParcela');
    let departamento = $("#txtDepartamento");
    let registrador = $("#txtRegistrador");
    let longitud = $("#txtLongitud");
    let latitud = $("#txtLatitud");
    let codMuestra = $("#txtCodMuestra");
    let altitud = $("#txtAltitud");
    let precision = $("#txtPrecision");
    let tipoVeg = $("#txtTipoVeg");
    let claseFisonomica = $("#txtClaseFisonomica");
    let cobertura = $("#txtCobertura");
    let conClasi = $("#txtConClasi");
    let claHidro = $("#txtClaHidro");
    let fisiografia = $("#txtFisiografia");
    let altitudHidrico = $("#txtAltitudHidrico");

    //Asigna eventos a los elementos
    $("#btnGuardarInvVeg").click(GuardaInventarioVeg);
    $("#btnEliminarInvVeg").click(EliminaInventarioVeg);
    $("#btnGuardar").click(GuardaInventarioVegParcelas);
    $("#btcancelar").click(RegresarListaPrincipal);
    $("#btnNuevoInventarioVegetacion").click(NuevoInventarioVegetacion);
    $("#btnGargarExcel").click(CargarExcel);
    $("#btenviar").click(EnviarSolicitud);

    jQuery(function ($) {
        $('input.target').click(function () {
            vista($(this).attr('href'));
        });
    });

    var vista = function ($target) {
        var $target = $($target),
            $other = $('.panel-inverse.active');

        if (!$target.hasClass('active')) {
            $other.each(function (index, self) {
                let $this = $(this);
                $this.removeClass('active').animate({
                    left: $this.width()
                }, 500).hide();
            });

            $target.addClass('active').show().css({
                left: -($target.width())
            }).animate({
                left: 0
            }, 500);
        }
    };

    ListarMisInvVeg();

    function ListarMisInvVeg(nPage, nSize, blo) {
        let cNombreProy, cAno;
        let nPubEst = $("#cmbInvEstado").val();
        let tpoBsq = $("#cmbTpoBsq").val();
        let valor = $("#txtValor").val();
        valor = valor == "" ? null : valor;

        switch (tpoBsq) {
            case "1":
                {
                    cNombreProy = valor;
                    break;
                }
            case "2":
                {
                    cAno = valor;
                    break;
                }
        }

        $.fn.Conexion({
            direccion: '@Url.Action("ListarMisInventariosVegetacion", "Inventario")',
            datos: { "nInvEst": nPubEst, "nPage": nPage, "nSize": nSize, "cNombreProy": cNombreProy, "cAno": cAno, "nTipoForm": nTipoForm },
            bloqueo: blo == false ? false : true ,
            terminado: function (data) {
                let d = JSON.parse(data);

                $("#cntListaInvVegetacion").Tabla({
                    tblId: "tblInvVegetacion",
                    cabecera: "#,Nombre del Proyecto,Año Colecta,F. Creación,Usuario, Estado, HistId",
                    campos: "nVegId,cNombreProyecto,cAnoColecta, cFechaRegistro, oUsuario.cNom, cEstado ,oHist.UniqueId",
                    scrollVertical: "Si",
                    tipoCampo: ",,,,,",
                    alinear: "C,L,C,C,C,C",
                    cellLen: "50,200,100,100,80,80,0,50,50,50",
                    cantRegVertical: 15,
                    pag: true,
                    hist: true,
                    pagDato: { "nPage": d.nPage, "nPageTot": d.nPageTot, "nPageSize": d.nPageSize, "nRows": d.nRows },
                    pagEvent: ListarMisInvVeg,
                    edit: true,
                    dblClick: true,
                    editEvent: function (fila) {
                        let nVegId = fila.find("td").eq(0).html();
                        ListarParcelas(nVegId)

                    },
                    elim: true,
                    elimEvent: function (fila) {
                        let nVegId = fila.find("td").eq(0).html();
                        console.log(nVegId);
                        console.log("Se elimino el inventario");
                        ConfirmaEliminarInvVeg(nVegId)
                    },
                    histEvent: function (fila) {
                        let cHistid = fila.find("td").eq(6).html();

                        window.open(
                            'http://localhost:59423/Historial/InventarioVegetaciones/' + cHistid,
                            '_blank'
                        );
                    },
                    datos: d.oLista
                });
            }
        });
    }

    function NuevoInventarioVegetacion() {
        $("#target2 :input").prop("disabled", false);
        $("#flExcel,#btnGargarExcel,#btnEliminarInvVeg,#txtCodProy").prop("disabled", true);
        $("#btnGuardarInvVeg,#btnEliminarInvVeg,#flExcel,#btnGargarExcel,#btnAgregar").show();
        $("#btenviar").show()
        CrearTabla({});
    }

    function ListarParcelas(nVegId) {
        $("#hdnEstado").val("E");
        vista("#target2");
        $("#btnEliminarInvVeg").prop("disabled", false);
        console.log(nVegId);

        $.fn.Conexion({
                direccion: '@Url.Action("CargaDatosInventarioVegetacion", "Inventario")',
                datos: { "nVegId": nVegId },
                terminado: function (data, textStatus, jqXHR) {
                    let oInv = JSON.parse(data);
                    datos = oInv;
                    console.log(oInv);

                    vegetacionId.val(oInv.nVegId);
                    vegId.val(oInv.nVegId);
                    nombreProyecto.val(oInv.cNombreProyecto);
                    anoColecta.val(oInv.cAnoColecta);

                    usuarioId.val(oInv.nUsuarioId);
                    historialId.val(oInv.oHist.Id)
                    UHistId.val(oInv.oHist.UniqueId)

                    CrearTabla(oInv.ListaParcelas);
                    if (vegId.val() != "") {
                        $("#btnAgregar").prop("disabled", false);
                    }

                    if (oInv.nEstado == 1) {
                        SetEstadoSolicitado();
                    } else if (oInv.nEstado == 2) {
                        SetEstadoAprobado();
                    } else if (oInv.nEstado == 3) {
                        SetEstadoObservado();
                    } else if (oInv.nEstado == 4) {
                        SetEstadoRechazado();
                    }
                },
                bloqueo: true
        });
    }

    function CrearTabla(rows) {
        let table = `
                                <thead>
                                    <th> Eliminar </th>
                                    <th> Editar </th>
                                    <th> Departamento </th>
                                    <th> Registrador </th>
                                    <th> Longitud </th>
                                    <th> Latitud </th>
                                    <th> Código Muestra </th>
                                    <th> Altitud </th>
                                    <th> Precisión </th>
                                    <th> Tipo de Vegetación </th>
                                    <th> Clase Fisonómica </th>
                                    <th> Cobertura </th>
                                    <th> Confianza Clasificación </th>
                                    <th> Clase Hidrológica </th>
                                    <th> Fisiografía </th>
                                    <th> Altitud Sistema Hídrico </th>
                                </thead>
                                <tbody>
                                `;

        if (rows != undefined) {
            for (let i = 0; i < rows.length; i++) {
                table += `
                                    <tr index='${i}'>
                                        <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                                        <td><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
                                        <td>${rows[i].cDepartamento}</td>
                                        <td>${rows[i].cRegistrador}</td>
                                        <td>${rows[i].cLongitud}</td>
                                        <td>${rows[i].cLatitud}</td>
                                        <td>${rows[i].cCodigoMuestra}</td>
                                        <td>${rows[i].cAltitud}</td>
                                        <td>${rows[i].cPrecision}</td>
                                        <td>${rows[i].cTipoVegetacion}</td>
                                        <td>${rows[i].cClaseFisonomica}</td>
                                        <td>${rows[i].cCobertura}</td>
                                        <td>${rows[i].cConfianzaClasificacion}</td>
                                        <td>${rows[i].cClaseHidrologica}</td>
                                        <td>${rows[i].cFisiografia}</td>
                                        <td>${rows[i].cAltitudSistemaHidrico}</td>
                                    </tr>`;
            }
        }

        table += `
                    </tbody>`;

        $('#tblParcelas').html(table);

        $("#tblParcelas").dataTable().fnDestroy();

        $('#tblParcelas').DataTable({
            "paging": false,
            "ordering": true,
            "fixedColumns": true,
            "info": true,
            "scrollX": true,
            "language": {
                "info": "Total: _MAX_ | Encontrados: _END_ ",
                "infoEmpty": "Total: _MAX_ | Encontrados: _END_ ",
                "infoFiltered": "",
            },
            "scrollY": "250px",
            "scrollCollapse": false,
            "bFilter": true,
            'columnDefs': [
                {
                    "targets": 0, // your case first column
                    "className": "delete",
                    "width": "4%"
                },
                {
                    "targets": 1,
                    "className": "edit",
                },
                {
                    "targets": 3,
                    "width": "65%"
                },
                {
                    "targets": 6,
                    "className": "text-center",
                },
                {
                    "targets": 7,
                    "className": "text-center",
                }],
        });

        AsignarEventoClick();
        $('#tblParcelas_wrapper div.row > div.col-sm-6')[0].remove();
        $('#tblParcelas_wrapper div.row div.col-sm-6:eq(0)')
            .after(`<div class='col-xs-3 col-sm-3'>
                                <button id='btnAgregar' type='button' class='btn btn-sm btn-success' disabled> Agregar Parcela </button>
                            </div>
                            <div class='col-sm-3'>
                                <button id='btnCargar' type='button' title='Refrescar Lista' style='float: right;' type='button' class='btn btn-sm btn-success' data-toggle='tooltip'>
                                    <span class='fa fa-refresh' aria-hidden='true'></span>
                                </button>
                            </div>`);
        $("#btnAgregar").bind("click", function () { MostrarFormularioRegistroParcelas() });
    }

    function AsignarEventoClick() {

        $("#tblParcelas tr td:nth-child(1)").bind("click", function () {
            let index = $(this).parent().attr('index');
            indexSeleccionado = index;
            console.log(index);

            $.fn.Mensaje({ titulo: "Atención", tipo: "SiNo", mensaje: "¿Está seguro de que desea eliminar este registro?", funcionAceptar: EliminarParcela });

            //MostrarFormularioRegistroParcelas();
            //CargarDatosFormularioParcelas(datos[index]);
        });


        $("#tblParcelas tr td:nth-child(2)") .bind("click", function () {
            let index = $(this).parent().attr('index');
            console.log(index);

            console.log(datos.ListaParcelas[index]);
            MostrarFormularioRegistroParcelas();
            CargarDatosFormularioParcelas(datos.ListaParcelas[index]);
        });

        //$("#tblconfirmaciones tr td").not("td:first-child, td:nth-child(7), td:nth-child(8)").bind("dblclick", function () {
        //    let index = $(this).parent().attr('index');
        //    console.log(index);
        //    MostrarFormularioRegistro();
        //    CargarDatosFormularioRegistro(datos[index]);
        //});

    }

    function MostrarFormularioRegistroParcelas() {
        $("#frmRegistro")[0].reset();
        modalParcela.modal('show');
    }

    function CargarDatosFormularioParcelas(par) {
        parcelaId.val(par.nParcelaId);
        departamento.val(par.cDepartamento);
        registrador.val(par.cRegistrador);
        longitud.val(par.cLongitud);
        latitud.val(par.cLatitud);
        codMuestra.val(par.cCodigoMuestra);
        altitud.val(par.cAltitud);
        precision.val(par.cPrecision);
        tipoVeg.val(par.cTipoVegetacion);
        claseFisonomica.val(par.cClaseFisonomica);
        cobertura.val(par.cCobertura);
        conClasi.val(par.cConfianzaClasificacion);
        claHidro.val(par.cClaseHidrologica);
        fisiografia.val(par.cFisiografia);
        altitudHidrico.val(par.cAltitudSistemaHidrico);
    }

    function GuardaInventarioVegParcelas() {

        let parcela = {
            'nVegetacionId': vegetacionId.val(),
            'nParcelaId': parcelaId.val(),
            'cDepartamento': departamento.val(),
            'cRegistrador': registrador.val(),
            'cLongitud': longitud.val(),
            'cLatitud': latitud.val(),
            'cCodigoMuestra': codMuestra.val(),
            'cAltitud': altitud.val(),
            'cPrecision': precision.val(),
            'cTipoVegetacion': tipoVeg.val(),
            'cClaseFisonomica': claseFisonomica.val(),
            'cCobertura': cobertura.val(),
            'cConfianzaClasificacion': conClasi.val(),
            'cClaseHidrologica': claHidro.val(),
            'cFisiografia': fisiografia.val(),
            'cAltitudSistemaHidrico': altitudHidrico.val()
        }

        $('#modalParcela').modal('toggle');

        $.fn.Conexion({
            direccion: '@Url.Action("InsertaActualizaInventarioVegetacionParcela", "Inventario")',
            datos: parcela,
            terminado: function (data, textStatus, jqXHR) {
                let id = JSON.parse(data);
                console.log(data);
                ListarParcelas(parcela.nVegetacionId);
                parcelaId.val("");
            },
            bloqueo: true
        });


    }

    function EliminarParcela() {
        console.log(indexSeleccionado);
        let par = datos[indexSeleccionado];
        indexSeleccionado = -1;
        console.log(par);

        let parcela = {
            'nVegetacionId': par.nVegetacionId,
            'nParcelaId': par.nParcelaId
        }

        console.log(parcela);

        $.fn.Conexion({
            direccion: '@Url.Action("EliminaInventarioVegetacionParcelas", "Inventario")',
            datos: parcela,
            terminado: function (data, textStatus, jqXHR) {
                let id = JSON.parse(data);
                console.log(data);

                if (id > 0) {
                    $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación se realizó correctamente." });
                    ListarParcelas(parcela.nVegetacionId);
                } else {
                    $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
                }
            },
            bloqueo: true
        });


    }

    function GuardaInventarioVeg() {

        let inventario = {
            'nVegetacionId': vegetacionId.val(),
            'cAnoColecta': anoColecta.val(),
            'cNombreProyecto': nombreProyecto.val()
        }

        console.log(inventario);

        $.fn.Conexion({
            direccion: '@Url.Action("GuardarInventarioVegetacion", "Inventario")',
            datos: inventario,
            terminado: function (data, textStatus, jqXHR) {
                let id = JSON.parse(data);
                console.log(data);

                if (id > 0) {
                    $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación se realizó correctamente." });

                    if (vegetacionId.val() == "") {
                        vegetacionId.val(id);
                        vegId.val(id);
                    }

                    $("#btnEliminarInvVeg,#btnGargarExcel,#flExcel,#btnEliminarInvVeg,#btnAgregar").prop("disabled", false);
                } else {
                    $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
                }
            },
            bloqueo: true
        });
    }

    function EliminaInventarioVeg() {
        $.fn.Mensaje({
            titulo: "Atención",
            tipo: "SiNo",
            mensaje: "¿Está seguro de que desea eliminar este inventario?",
            funcionAceptar: function () {
                console.log("Se elimino el inventario");
                ConfirmaEliminarInvVeg(vegetacionId.val())
                RegresarListaPrincipal();

            }
        });
    }

    function ConfirmaEliminarInvVeg(id) {
                let inventario = {
                    'nVegetacionId': id
                }

                $.fn.Conexion({
                    direccion: '@Url.Action("EliminaInventarioVegetacion", "Inventario")',
                    datos: inventario,
                    terminado: function (data, textStatus, jqXHR) {
                        let id = JSON.parse(data);
                        console.log(id);

                        if (id > 0) {
                            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación se realizó correctamente." });

                            vegId.val("");
                            vegetacionId.val("");
                            ListarMisInvVeg();
                        } else {
                            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
                        }
                    },
                    bloqueo: true
                });
    }

    function SetEstadoSolicitado() {
        $("#target2 :input").prop("disabled", true);
        $("#btcancelar").prop("disabled", false);
    }

    function RegresarListaPrincipal() {
        Limpiar();
        vista("#target1");
    }

    $("#btnBuscarInv").bind("click", function () {
        ListarMisInvVeg();
    });

    $("#txtValor").keyup(function (e) {
        if (e.which == 13) { ListarMisInvVeg(); }
    });

    function Limpiar() {
        $('#frm')[0].reset();
        //$("#tblParcelas").dataTable().fnDestroy();
        $('#tblParcelas').html("");
        $("#btnEliminarInvVeg").prop("disabled", true);
        vegetacionId.val("");
        parcelaId.val("");
        //$("#target2 :input").prop("disabled", false);
    }

    function CargarExcel() {

        let nVegetacionId = vegetacionId.val();
        var model = new FormData();
        model.append("File", $("#flExcel")[0].files[0]);
        model.append("Id", nVegetacionId);

        $.ajax({
            url: '@Url.Action("CargarExcelVegetacion", "Inventario")',
            type: "POST",
            data:  model,
            contentType: false,
            processData: false,
            success: function (m) {
                console.log(m);
                alert("Exito!");
                ListarParcelas(nVegetacionId);
            },
            error: function (m) {
                alert("Fallo!");
            }
        });
    }

    function EnviarSolicitud() {

        let nVegId = $("#hdnVegId").val();

        if (nVegId != "") {
            let inventario = {
                'nVegetacionId': nVegId
            }

            $.fn.Conexion({
                direccion: '@Url.Action("EnviarSolicitudInventarioVegetacion", "Inventario")',
                datos: inventario,
                terminado: function (data, textStatus, jqXHR) {
                    let id = JSON.parse(data);
                    console.log(id);

                    if (id > 0) {
                        $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación se realizó correctamente." });

                        vegId.val("");
                        vegetacionId.val("");
                        ListarMisInvVeg();
                        RegresarListaPrincipal();
                    } else {
                        $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
                    }
                },
                bloqueo: true
            });
        } else {
            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Es necesario agregar como mínimo una parcela." });
        }
    }

    function SetEstadoSolicitado() {
        $("#target2 :input").prop("disabled", true);
        $("#btnAprobar,#btnObservar,#btnRechazar").prop("disabled", false);
        $("#btnGuardarInvVeg,#btnEliminarInvVeg,#flExcel,#btnGargarExcel,#btnAgregar").show();
        $("#btcancelar").prop("disabled", false);
        $("#btnHistorial").prop("disabled", false);
        $("#btenviar").attr("disabled", true).hide();
    }

    function SetEstadoAprobado() {
        $("#btnAprobar,#btnObservar,#btnRechazar").attr("disabled", true);
        $("#btenviar").attr("disabled", true).hide();
        $("#btenviarCorrecion").attr("disabled", true).hide();
        $("#btnGuardarInvVeg,#btnEliminarInvVeg,#flExcel,#btnGargarExcel,#btnAgregar").hide();
        $('#tblParcelas').DataTable().column(0).visible(false);
        $('#tblParcelas').DataTable().column(1).visible(false);
    }

    function SetEstadoObservado() {
        $("#btnAprobar,#btnObservar,#btnRechazar").attr("disabled", true);
        $("#btenviar").attr("disabled", true).hide();
        $("#btenviarCorrecion").attr("disabled", false).show();
    }

    function SetEstadoRechazado() {
        $("#btnAprobar,#btnObservar,#btnRechazar").attr("disabled", true);
        $("#btenviar").attr("disabled", true).hide();
        $("#btenviarCorrecion").attr("disabled", true).hide();
        $("#btnGuardarInvVeg,#btnEliminarInvVeg,#flExcel,#btnGargarExcel,#btnAgregar").hide();
        $('#tblParcelas').DataTable().column(0).visible(false);
        $('#tblParcelas').DataTable().column(1).visible(false);
    }

    $("#btnHistorial").bind("click", function () {
        let cHistid = $("#hdnUHistId").val();

        window.open(
            'http://localhost:59423/Historial/InventarioVegetaciones/' + cHistid,
            '_blank'
        );
    });


    $("#btnAprobar").bind("click", function () {
        $.fn.Mensaje({ titulo: "Mensaje", tipo: "AcepCanc", mensaje: "¿Esta seguro de Aprobar el Inventario de Vegetación?", funcionAceptar: Aprobar });
    });

    $("#btnObservar").bind("click", function () {
        $.fn.Mensaje({ titulo: "Mensaje", tipo: "AcepCanc", mensaje: "¿Esta seguro de Observar el Inventario de Vegetación?", funcionAceptar: Observar });
    });

    $("#btnRechazar").bind("click", function () {
        $.fn.Mensaje({ titulo: "Mensaje", tipo: "AcepCanc", mensaje: "¿Esta seguro de Rechazar el Inventario de Vegetación?", funcionAceptar: Rechazar });
    });

    function Aprobar() {
        let nInvVegId = vegetacionId.val();
        let nHistId = historialId.val();
        let nUHistId = UHistId.val();
        let nUsuId = usuarioId.val();

            $.fn.Conexion({
                direccion: '@Url.Action("RegistrarAprobacionInvVeg", "Inventario")',
                datos: { "nInvVegId": nInvVegId, "nUsuId": nUsuId , "nHistId": nHistId, "nUHistId": nUHistId},
                terminado: function (data, textStatus, jqXHR) {
                        SetEstadoAprobado();
                    $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Aprobación registrada correctamente." });
                    ListarMisInvVeg(null, null, false);
                    },
                    bloqueo: true
            });
    }

    function Observar() {
        $.fn.Ventana({
            id: "vntMotivoObservacion",
            titulo: "Registre motivo de la Observación",
            tamano: "md"
        });

        let html = `
                    <textarea class="form-control" id="txtObservacion" name="txtObservacion" rows="10" placeholder="Ingrese aquí las observaciones encontradas" value="" minlength="1"></textarea>
                    <div id="msgObservacion"></div>                 
                    <div class="col-sm-12 hr-line-dashed"></div>
                        <div class="col-sm-12 text-center">
                        <button id="btnObsAceptar" type="submit" class="btn btn-sm btn-primary m-r-5">Aceptar</button>
                        <button id="btnObsCancelar" type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-default">Cancelar</button>
                    </div>`;

        let msgObs = `<div class="alert alert-danger alert-dismissible text-center m-t-5 m-b-5" role="alert" style="margin-bottom: 10px;">
                        <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">x</span>
                        <span class="sr-only">Close</span>
                        </button>El campo observación no puede estar vacío.
                      </div>`;

        $("#vntMotivoObservacion .panel-body").html(html);
        $('#vntMotivoObservacion').modal('show');

        $("#btnObsAceptar").bind("click", function () {

            let nInvVegId = vegetacionId.val();
            let nHistId = historialId.val();
            let nUHistId = UHistId.val();
            let cMensaje = $("#txtObservacion").val();
            let nUsuId = usuarioId.val();

            if (cMensaje != "") {
                $.fn.Conexion({
                    direccion: '@Url.Action("RegistrarObservacionInvVeg", "Inventario")',
                    durante: function () {
                        $('#vntMotivoObservacion').modal('hide');
                    },
                    datos: { "nInvVegId": nInvVegId, "nUsuId": nUsuId, "nHistId": nHistId, "nUHistId": nUHistId, "cMensaje": cMensaje },
                    terminado: function (data, textStatus, jqXHR) {
                        SetEstadoObservado();
                        $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Observación registrada correctamente." });
                        ListarMisInvVeg(null,null,false);
                    },
                    bloqueo: true
                });
            } else {
                $("#msgObservacion").html(msgObs);
                $("#txtObservacion").focus();
            }
       });

    }

    function Rechazar() {
        $.fn.Ventana({
            id: "vntMotivoRechazar",
            titulo: "Registre motivo del Rechazo",
            tamano: "md"
        });

        let html = `
                    <textarea class="form-control" id="txtRechazo" name="txtRechazo" rows="10" placeholder="Ingrese aquí el motivo del rechazo" value="" minlength="1"></textarea>
                    <div class="col-sm-12 hr-line-dashed"></div>
                        <div class="col-sm-12 text-center">
                        <button id="btnRecAceptar" type="submit" class="btn btn-sm btn-primary m-r-5">Aceptar</button>
                        <button id="btnRecCancelar" type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-default">Cancelar</button>
                    </div>`;

        $("#vntMotivoRechazar .panel-body").html(html);
        $('#vntMotivoRechazar').modal('show');

        $("#btnRecAceptar").bind("click", function () {
            let nInvVegId = vegetacionId.val();
            let nHistId = historialId.val();
            let nUHistId = UHistId.val();
            let cMensaje = $("#txtRechazo").val();
            let nUsuId = usuarioId.val();

            $.fn.Conexion({
                direccion: '@Url.Action("RegistrarRechazoInvVeg", "Inventario")',
                datos: { "nInvVegId": nInvVegId, "nUsuId": nUsuId, "nHistId": nHistId, "nUHistId": nUHistId, "cMensaje": cMensaje },
                durante: function () {
                    $('#vntMotivoRechazar').modal('hide');
                },
                terminado: function (data, textStatus, jqXHR) {
                    SetEstadoRechazado();
                    $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Rechazo registrado correctamente." });
                    ListarMisInvVeg(null, null, false);
                },
                    bloqueo: true
                });
        });
    }

    $('#btenviarCorrecion').click(function () {
        let nVegId = $("#hdnVegId").val();
        let nHistId = historialId.val();
        let nUHistId = UHistId.val();

        if (nVegId != "") {
            let inventario = {
                'nVegetacionId': nVegId,
                'oHist.nHistorialId': nHistId,
                'oHist.cUniqueId': nUHistId
            }

            $.fn.Conexion({
                direccion: '@Url.Action("EnviarCorrecionInventarioVegetacion", "Inventario")',
                bloqueo: true,
                datos: inventario,
                terminado: function (data) {
                    let id = JSON.parse(data);
                    console.log(data);

                    if (id > 0) {
                        $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación se realizó correctamente." });

                        vegId.val("");
                        vegetacionId.val("");
                        ListarMisInvVeg();
                        RegresarListaPrincipal();
                    } else {
                        $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
                    }
                }
            });
        } 

    });


    if (window.location.hash !== '') {
        var hash = window.location.hash.replace('#map=', '').substr(1);
        var parts = hash.split('/');

        console.log(hash);
        console.log(parts);
        if (parts[3] != undefined) {
            console.log("Ingreso");
            ListarParcelas(parts[3]);
        }
    }


</script>